@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fjalla+One&family=Ubuntu:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&family=Josefin+Sans:wght@600&display=swap');

:root {
  --font-color: rgb(255, 255, 1);
  --hue-color: 224;
  --icon-font: "Ubuntu", sans-serif;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --family-font-title: "Otomanopee One", sans-serif;
  --family-font: "Shadows Into Light", cursive;
  --font-name: "Shadows Into Light", cursive;
  --font-nav: "Ubuntu", sans-serif;
  --name-font: "Anton", sans-serif;
  --nav-font-size: clamp(0.85rem, 1vh, 1.2rem);
  --section-title-font-size: clamp(1rem, 4vh, 5rem);
  --bio-family:'Saira Condensed', sans-serif;
  --splash-family : 'Poppins', sans-serif;
  --sub-heading-font: 'Josefin Sans', sans-serif;
  --paragraph-font : 'Josefin Sans', sans-serif;
  
}
a {
  color: var(--font-color);
  cursor: pointer;
}
.theme-light{
  --background-color:white;
  --nav-background-color:white;
  --font-color:black;
  --title-color : #0d1b2a;
  --name-color:#1b263b;
  --btn-color:black;
  --secondary-title-color:grey;
  --bio-color-paragraph:rgb(108, 107, 107);
  --section-title-color : #778da9;
  --icon-color:black;
  --nav-color:grey;
  --theme-icon-color:black;
  --front-image-shadow-color : 0 0 10px 5px gray;
  --fa-color : black;
  --nav-hover-color : black;
  --navicon-color:black;

  /* these below properties are for hovering in expertise part */
  --hover-background-color:grey;
  --hover-bg:linear-gradient(180deg, rgb(102, 103, 102) 0%, rgb(97, 98, 98) 100%);
}
.theme-dark{
  --background-color:black;
  --nav-background-color:rgb(14, 13, 13);
  --font-color:white;
  --title-color : #a5a7a9;
  --btn-color:white;
  --name-color:#d0d4db;
  --secondary-title-color:rgb(110, 106, 106);
  --bio-color-paragraph:rgb(183, 177, 177);
  --section-title-color : #a9b9ce;
  --nav-color:rgb(216, 210, 210);
  --fa-color : rgb(190, 186, 186);
  --theme-icon-color:orange;
  --icon-color:green;
  --nav-hover-color : grey;
  --navicon-color:white;

  --front-image-shadow-color : 0 0 10px 5px rgba(64, 61, 61, 0.42);

  --hover-background-color:rgb(246, 240, 240);
  --hover-bg:linear-gradient(180deg, rgb(167, 212, 167) 0%, rgb(62, 177, 73) 100%);

}
html {
  scroll-behavior: smooth !important;
 
}
body{
  scroll-behavior: smooth !important;
  width: 100%;
  margin: 0 auto;
}
main{
  background-color: var(--background-color);
  padding-inline:10%
}
/* splash screen part */
.intro{
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  transition: 1s;
}

.intro-header{
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo{
  position: relative;
  display: inline-block;
  color: white;
  font-family: var(--splash-family);
  left: -120px;
  opacity: 0;
}
.logo.active{
  left: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade{
  left: 250px;
  opacity: 0;
  transition: ease-in 0.35s;
}
@media only screen and (max-width:450px){
  .intro-header{
    position: relative;
    left: 70%;
  }
  .logo{
    left:0;
    font-size: 1.25em;
    display: flex;
    justify-content: start;
    left: -200px;
  }
}
/* header */
header{
  position: relative;
  z-index: 1;
}

#navbarNav {
  padding-right: 1rem;
}
.sucess-card{
  margin-top: 5em;
}
.theme-btn{
  position: relative;
  /* border:1px solid white; */
  height:  1.25em;
  width: 5%;
}
#changeTheme{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  font-size: 1.25em;
  display: block;
  text-decoration:none;
  color: var(--theme-icon-color);
}
#changeThemeSun{
  position: absolute;
  display: none;
  margin-left: 1em;
  font-size: 1.25em;
  text-decoration:none;
  color: var(--theme-icon-color);
}
.switch{
  position: relative;
  width: 54px;
  height:30px;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  border-radius: 20px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:#ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before{
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  border-radius: 20px;
  bottom: 4px;
  background-color: white;
  -webkit-transition:.4s;
  transition: .4s;
}
input:checked + .slider{
  background-color: black;
}
input:focus + .slider{
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider::before{
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
nav{
  background-color: var(--nav-background-color);
  padding-inline:10%;
}

#navbarNav label{
  margin-right: 1em;
}

.brand {
  font-family: var(--icon-font);
}
.icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.about .nav-item {
  padding: 1em;
}
.nav-item a{
  color: var(--nav-color);
}
.nav-link {
  font-family: var(--font-nav);
  font-weight: 900;
  font-size: 1.15em;
}
.nav-link:hover{
  border-bottom: 1px solid rgb(70, 149, 180);
  color: white;
}
.nav-item a:hover{
  color:var(--nav-hover-color);
}
.intro-page {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  padding: 10em;
}

.front-img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  box-shadow: var(--front-image-shadow-color)
}
.sucess-card {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

@keyframes title-animation {
  0%{
    opacity: 0;
    left: 400px;
  }
  
  100%{
    opacity: 1;
    left: 00px;
  }
  
}

@keyframes name-animation {
  0%{
    opacity: 0;
    left: 500px;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    left: 00px;
  }
  
}

@keyframes opac-animation {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.left-side{
  width: 10%;
  animation: opac-animation 0.5s ease-in;

}
.home__blob {
  width:80%;
  fill: var(--first-color);
}
.home__blob-img {
  width: 70%;
}
img,span{
  z-index: -2;
}


.title {
  width: fit-content;
  position: relative;
  animation: title-animation 4s ease-in-out;
  font-family: var(--font-nav);
  font-weight: 900;
  color: var(--title-color);
  font-size: clamp(1rem, 1.5vw, 3rem);
}
.nickname{
    font-size: 1.5em;
    color: grey;
}

.name {
  color: var(--name-color);
  font-family: var(--name-font);
  font-size: clamp(2.25rem, 2vw, 5rem);
}
.bio-content p{
  color: var(--font-color);
  padding-top: 0.5em;
  animation: name-animation 4.5s ease-in-out;
  font-family: monospace;
}
.bio{
  animation: opac-animation 4s ease-in;

}
.btns {
  animation: opac-animation 4s ease-in;
  padding-top: 1em;
}

.buttons {
  border-radius: 10px;
  color: var(--btn-color);
  border: 1px solid #44d5cb;
  font-family: var(--font-nav);
  font-size: clamp(0.85rem, 1vh, 2rem);
}
.buttons:hover{
  background-color: rgb(201, 239, 247);
  color: black;
}
.social-media a {
  color: var(--fa-color);
  text-decoration: none;
  padding: 1em;
  font-size: 1.25em;
}
.fa-instagram:hover{
  color: red;

}
.fa-pinterest:hover{
  color: red;
}
.fa-github:hover{
  color: rgb(73, 71, 71);
}

/* for the contact me form */

.heading {
  justify-content: space-evenly;
  font-family: var(--name-font);
}
.contact-title {
  font-size: 1.5em;
  letter-spacing: 2px;
}
.heading .lnr {
  font-size: 2em;
  padding-right: 0.5em;
}
.contact-container {
  position: absolute;
  display: none;
  justify-content: center;
  padding: 10em;
  background-color: rgba(250, 250, 250, 0.55);
}
.contact-me-form {
  position: relative;
  width: 50%;
  min-width: 400px;
  border-radius: 25px;
  padding: 2em;
  flex-direction: column;
  background-color: rgb(205, 205, 243);
  font-weight: 500;
}
.submitBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-nav);
}
.subButton {
  border: none;
  font-family: var(--font-nav);

  background-color: #9ef7b1;
  padding: 0.65em;
  border-radius: 10px;
}
.cancelButton {
  background-color: #ec908a;
  padding: 0.65em;
  border-radius: 10px;
}
/* ----------- */
/* for the about page */
.about-page {
  display: flex;
  padding-bottom: 10em;
  
}
.about{

  margin-top: 5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
 
}
.about .profile-img{
  z-index: 0;
  width: 100%;
  max-width: 450px;
}

.about .bio{
  animation: none;
  font-family: var(--bio-family);
  width: 50%;
  font-size: 1.25em;
}
.bio h4{
  font-family: var(--bio-family);
  color:var(--secondary-title-color);
  font-weight: 900;
}
.bio h5{
  color:var(--secondary-title-color);
}
.bio p, .bio li{
  font-family: var(--paragraph-font);
  font-size: 0.85em;
  color: var(--bio-color-paragraph);
}
.list{
  position: relative;
}
.list img{
  width: 10%;
  padding: 0.5em;
}
.list img:hover{
  opacity: 0.7;
}
.list span {
  visibility: hidden;
  position: absolute;
  left: 15em;
  top: -2.3em;
  background: #ffff6b;
  width: 17em;
  border: 1px solid #404040;
  font-size: 0.8em;
  padding: 0.3em;
  cursor: default;
  line-height: 1.4;
}
.list img:hover span{
  visibility: visible;
  
}

.section-title {
  font-family: var(--name-font);
  font-size: var(--section-title-font-size);
  color: var(--section-title-color);
  
}

/* for the project page */
.content-project{
  width: 100%;
  display: flex;
  gap: 4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.text {
  font-family: var(--font-nav);
  color:var(--font-color);
  font-size: 2em;
  padding-top: 0;
  font-weight: 800;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  scroll-behavior: smooth;
  align-self: center;
  width: 100%;
}
.projects i{
  padding: 0.25em;
  cursor: pointer;
}
.projects a{
  text-decoration: none;
  color: black;
}

.project-child:nth-child(1){
    flex-direction: row-reverse;
}
.project-child:nth-child(3){
    flex-direction: row-reverse;
}
/* .project-child:nth-child(1) img{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.project-child:nth-child(2) img{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.project-child:nth-child(3) img{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
} */
.project-child{
  display: flex;
  width: 65%;
  border-radius: 10px;
  /* background-color: rgba(235, 232, 232, 0.256); */
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}
.img-part{
  width: 50%;
  position: relative;

}
.img-part img{
  border-radius: 20px;
  width: 100%; 
  height: 300px;
   
}
.category-type{
  top: 5%;
  left: 5%;
  position: absolute;
  font-size: 0.75em;
  padding:0.5em 1em 0.5em 1em;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  border-radius: 10px;
}
.left-arrow{
  display: grid;
  place-content: center;
  padding: 1em;
}
.btn button{
  
}
.project-content {
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  font-size: 0.8em;
}
.project-content p{
  font-family: var(--paragraph-font);
  font-size: 1.15em;
  color: grey;
}

.btn-project{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-project a{
  padding: 0.65em;
  text-decoration: none;
  text-align: center;
  margin:0.25em;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.35em;
  color: white;

}
.btn-project .fa {
  text-transform: capitalize;
  background-color: rgb(60, 175, 97);

}

.btn-project .fa:hover{
  text-decoration: none;
}
.lnr-code{
  background-color: rgb(149, 139, 222);

}
.lnr-code:hover{
  background-color: rgb(102, 95, 152);
  color: white;
}
.lnr-rocket:hover{
  background-color: rgb(55, 157, 87);
  color:white;
}
.lnr-rocket{
  background-color: rgb(60, 175, 97);
}

.project-title {
  font-family: var(--font-name);
  font-weight: 800;
}
.project-img {
  -webkit-filter: brightness(100%);
  width: 100%;
  height: auto;
}
/* .project-child:hover .project-img {
  -webkit-filter: brightness(40%);
  -webkit-filter:blur(10%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.project-child:hover .project-content {
  visibility: visible;
  transition: ease-in 1s;
}
.project-child:hover .btn-project{
  visibility: visible;
  transition: ease-in 1s;
} */
/* .project-img:hover {
  transform: scale(1.5);
} */

#project button{
  position: relative;
  font-family: var(--splash-family);
  top: 30%;
  left: 50%;
  transform: translate(-50%,-30%);
  border: none;
  width: 20%;
  padding: 0.5em;
}
#project button:hover{
  background-color:rgba(134, 109, 209, 0.609) ;
  transition: ease-in 0.1s;
}
@media only screen and (max-width:450px){
  #project button{
    width: 50%;
    font-size: 0.85em;
  }
}
#projects a{
  font-size: em;
}


/* animation part */

.hidden{
  opacity: 0;
  transition: all 1s;
  
}

.show{
  opacity: 1;
}

.child{
  opacity: 0;
  transition: ease-out 1s;
}
.child:nth-child(1){
  right: 10%;
  transition-delay: 200ms;
}
.child:nth-child(2){
  left:10%;
  transition-delay: 350ms;
}
.child:nth-child(3){
  right: 10%;
  transition-delay: 450ms;
}

.showChild{
  opacity: 1;
  position: relative;
}
.showChild:nth-child(1){
  right: 0;
}
.showChild:nth-child(2){
  left: 0;
}
.showChild:nth-child(3){
  right: 0;
}

/* service part */
.service-content span{
  color: var(--icon-color);
}
.text-title {
  font-size: 1.8em;
  color: var(--bio-color-paragraph);
  font-family: var(--family-font);
  text-align: center;
  font-weight: 900;
}
.service-content:hover {
  cursor:pointer;
  opacity: 0.65;
  background: var(--hover-background-color);
background:var(--hover-bg);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.service-para {
  font-weight: 400;
  color: grey;
  font-family: var(--paragraph-font);
}
.service-image {
  width: 100%;
  height: auto;
}
.lnr {
  font-size: 3em;
}
/* for the blogs  */
#blogs{
  display: flex;
  width: 60%;
  padding: 0;
  margin: 0;
  height: fit-content;
  box-shadow: 10px 10px 15px rgba(234, 229, 229, 0.674);
}

#blog-list {
  margin-top: 10em;
  padding-bottom: 10em;
}
.blog-content{
  display: flex;
  width: 100%;
  justify-content: center;
}
.blog-list {
  margin-top: 5em;
}
.blog-image {
  width: 300px;
  height: 250px;
}
.blog-card-content{
  margin: 0;
  width: auto;
}
.blog-detail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
#blogs:hover {
  cursor: pointer;
}
.author {
  font-size: 1em;
  font-weight: 500;
  font-family: var(--font-nav);
}
.blog-detail{
  padding: 0.25em;
}

/* contact */


.contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  align-items: left;
  width: 100%;
  padding-bottom: 5em;
}
.contact-detail p{
  color: rgb(82, 80, 80);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
form{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
label{
  width: 100%;
  font-size: 1.25em;
  font-family: var(--family-font);
  margin-top: 1em;
  font-weight: 700;
  padding-bottom: 0.25em;

}
input, textarea{
  width: 100%;
  border: 0.25px solid rgb(183, 178, 178);
  border-radius: 10px;
  padding: 0.65em;
}
input[type="submit"]{
  margin-top: 1em;
  width: 50%;
  border: none;
  background-color: rgb(78, 202, 78);
  color: black;
  font-size: 1em;
  font-weight: 700;
}
input[type="submit"]:hover{
  background-color: rgba(78, 202, 78, 0.688);
}
/* footer  */
.footer-title {
  font-family: var(--family-font);
  font-size: clamp(0.5em, 2vh, 2em);
  background: rgb(111, 34, 193);
  font-weight: 900;
  background: linear-gradient(
    102deg,
    rgba(111, 34, 193, 1) 30%,
    rgba(29, 243, 255, 1) 73%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.page-footer {
  background:var(--nav-background-color);
  color: var(--font-color);
  margin-top: 0em;
}
.development{
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error{
  font-size: 2.5em;
  font-family: var(--bio-family);
}
.development-page{
  width: 50%;
  height: 60vh;
}
.go-home{
  margin-top: 1em;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 1em;
  border-radius: 0.5em;
}
.go-home:hover{
  color: rgb(132, 128, 128);
}

@media only screen and (max-width: 450px) {
  main{
    padding: 0;
  }
  .fa-navicon{
    color:var(--navicon-color)
  }
  
  nav{
    padding:0;
    margin: 0;
  }
  nav button{
    animation: none;
    margin-right: 1em;
     
  }
  
  .intro-page {
    padding: 0;
    padding-top: 5em;
    width: 100%;
    height: 70vh;
    justify-content: space-around;
    /* border: 1px solid black; */

    
  }
  .left-side{
    width: 100%;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .title{
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .name{
    display: block;
    padding-top: 0.25em;
  }
  
  .front-img{
    z-index: 0;
    width: 80%;
  }
  .bio-content{
    margin-top: 1em;
    text-align: center;
  }
  .btns{
    width: 100%;
  }
  /* about */
  .about-page{
    font-size: 0.75em;
    width:100%;
    padding-bottom: 0;
    margin-top: 10em;
  }
  .about{
    width: 100%;
    margin: 0;
  }
  .about .bio{
    width: 100%;
    padding: 1em;
  }
  
  .about .profile-img{
    display: none;
  }
  .list img{
    width: 17%;
  }
  
  /* projects */
  .projects{
    width: 100%;
  }
  .content-project {
    width:100%;
    padding: 0.5em;
  }

  .project-child{
    display: block;
    flex-wrap: wrap;
    font-size: 0.85em;
    width: 100%;
    margin: 0.5em;
  }
  
  .projects i{
    font-size: 1.5em;
  }
  .project-child .img-part{
    width: 100%;
    height: 250px;
  }
  .project-child img{
    width: 100%;
    height: 250px;
  }
  
  .project-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* services */
  .service-list{
    padding: 0;
    justify-content: space-between;

  }
  .service-content{
    margin: 0;
    padding: 0;
  }
  .service-content span{
    font-size: 2em;
  }
  .text-title{
    font-size: 1em;
  }
  .service-para{
    font-size: 0.75em;
  }
  /* blogs */
  #blogs{
    width: 100%;
  }
  .blog-list {
    padding: 0.5em;
  }
  .blog-image{
    width: 100%;
  }
  .blog-card-content .text{
    font-size: 1em;
  }
  .blogs {
    display: flex;
    flex-direction: column;
  }
  #blog-list {
    margin: 0;
  }
  #project {
    margin: 0;
  }
  #blogs {
    padding-bottom: 2em;
  }
  /* contact */
  form{
    font-size: 0.8em;
    width: 90%;
  }
  .development{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .error{
    font-size: 2em;
    font-family: var(--bio-family);
  }
  .development p{
    font-size: 0.75em;
  }
  .development-page{
    width: 100%;
    height: 40vh;
  }
  .go-home{
    margin-top: 3em;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1em;
    font-size: 0.75em;
    border-radius: 0.5em;
  }
  .go-home:hover{
    color: rgb(132, 128, 128);
  }
  .contact-detail p{
    font-size: 0.75em;
  }
}
@media only screen and (min-width: 1024px) {
  .intro-page{
    padding: 0;
    width: 100%;
  }
  .intro-page .left-side{
    display: block;
    width: 50%;
  }
  .intro-page .front-img{
    max-width: 500px;
    
    width: 70%;
  }
  
  .intro-page .bio-content{
    width: 50%;
    font-size: 0.85em;
  }
}