@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fjalla+One&family=Ubuntu:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --font-color: rgb(255, 255, 1);
  --icon-font: "Ubuntu", sans-serif;
  --family-font-title: "Otomanopee One", sans-serif;
  --family-font: "Shadows Into Light", cursive;
  --font-name: "Shadows Into Light", cursive;
  --font-nav: "Ubuntu", sans-serif;
  --name-font: "Anton", sans-serif;
  --nav-font-size: clamp(0.85rem, 1vh, 1.2rem);
  --section-title-font-size: clamp(1rem, 4vh, 5rem);
  --bio-family:'Saira Condensed', sans-serif;
  --splash-family : 'Poppins', sans-serif;

 

}


html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body-background-color);
  margin: 0 auto;
}

/* splash screen part */
.intro{
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  transition: 1s;
}

.intro-header{
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo{
  position: relative;
  display: inline-block;
  color: white;
  font-family: var(--splash-family);
  bottom: -20px;
  opacity: 0;
}
.logo.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade{
  bottom: 150px;
  opacity: 0;
  transition: ease-in 0.5s;
}
@media only screen and (max-width:450px){
  .logo{
    font-size: 0.85em;
  }
}
/* header */
header{
  position: relative;
  z-index: 1;
}

#navbarNav {
  padding-right: 1rem;
}
.sucess-card{
  margin-top: 5em;
}
a {
  cursor: pointer;
}

.switch{
  position: relative;
  width: 54px;
  height:30px;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  border-radius: 20px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:#ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before{
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  border-radius: 20px;
  bottom: 4px;
  background-color: white;
  -webkit-transition:.4s;
  transition: .4s;
}
input:checked + .slider{
  background-color: black;
}
input:focus + .slider{
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider::before{
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

#navbarNav label{
  margin-right: 1em;
}

.brand {
  font-family: var(--icon-font);
}
.icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.about .nav-item {
  color: black;
  padding: 1em;
}
.nav-link {
  font-family: var(--font-nav);
  font-weight: 900;
  font-size: 1.15em;
  color: black;
}
.nav-link:hover{
  border-bottom: 1px solid rgb(70, 149, 180);
}
.intro-page {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  padding: 10em;
}

.front-img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px 5px gray;
}
.sucess-card {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

@keyframes title-animation {
  0%{
    opacity: 0;
    left: 400px;
  }
  
  100%{
    opacity: 1;
    left: 00px;
  }
  
}

@keyframes name-animation {
  0%{
    opacity: 0;
    left: 500px;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    left: 00px;
  }
  
}

@keyframes opac-animation {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.left-side{
  animation: opac-animation 0.5s ease-in;

}
img,span{
  z-index: -2;
}


.title {
  width: fit-content;
  position: relative;
  animation: title-animation 1s ease-in;
  font-family: var(--font-nav);
  font-weight: 900;
  color: var(--title-color);
  font-size: clamp(1rem, 1.5vw, 3rem);
}

.name {
  width: fit-content;
  position: relative;
  color: var(--name-color);
  animation: name-animation 1.5s ease-in;
  font-family: var(--name-font);
  font-size: clamp(2.25rem, 3vw, 5rem);
}

.bio{
  animation: opac-animation 2s ease-in;

}
.btns {
  animation: opac-animation 2s ease-in;
  padding-top: 3em;
}

.buttons {
  border-radius: 10px;
  color: black;
  border: 1px solid #44d5cb;
  font-family: var(--font-nav);
  font-size: clamp(0.85rem, 1vh, 2rem);
}
.buttons:hover{
  background-color: rgb(201, 239, 247);
  color: black;
}
.social-media a {
  color: black;
  text-decoration: none;
  padding: 1em;
  font-size: 1.25em;
}
.fa-instagram:hover{
  color: red;

}
.fa-pinterest:hover{
  color: red;
}
.fa-github:hover{
  color: rgb(73, 71, 71);
}

/* for the contact me form */
.contact{
  background-image: url('https://images.unsplash.com/photo-1526554850534-7c78330d5f90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
  background-attachment: fixed;
  background-size: cover;

}
.heading {
  justify-content: space-evenly;
  font-family: var(--name-font);
}
.contact-title {
  font-size: 1.5em;
  letter-spacing: 2px;
}
.heading .lnr {
  font-size: 2em;
  padding-right: 0.5em;
}
.contact-container {
  position: absolute;
  display: none;
  justify-content: center;
  padding: 10em;
  background-color: rgba(250, 250, 250, 0.55);
}
.contact-me-form {
  position: relative;
  width: 50%;
  min-width: 400px;
  border-radius: 25px;
  padding: 2em;
  flex-direction: column;
  background-color: rgb(205, 205, 243);
  font-weight: 500;
}
.submitBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-nav);
}
.subButton {
  border: none;
  font-family: var(--font-nav);

  background-color: #9ef7b1;
  padding: 0.65em;
  border-radius: 10px;
}
.cancelButton {
  background-color: #ec908a;
  padding: 0.65em;
  border-radius: 10px;
}
/* ----------- */
/* for the about page */
.about-page {
  padding-bottom: 10em;
  /* background-image: url('https://images.unsplash.com/photo-1672073314527-cd2d83182992?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'); */
  /* background-size:100%;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-image: url('https://www.galvanizeaction.org/wp-content/uploads/2022/06/Wow-gif.gifhttps://www.galvanizeaction.org/wp-content/uploads/2022/06/Wow-gif.gif'); */

  /* background-color: rgb(157, 209, 239); */
  /* border-radius: 10px;
	border: 1px solid rgb(212, 211, 211); */
}
.about{
  margin-top: 5em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.about .profile{
  width: 35%;
  min-width: 300px;
  
}
.about .bio{
  animation: none;
  font-family: var(--bio-family);
  width: 50%;
  font-size: 1.25em;
}
.list{
  position: relative;
}
.list img{
  width: 80px;
  padding: 0.5em;
}
.list img:hover{
  opacity: 0.9;
}
.list span {
  visibility: hidden;
  position: absolute;
  left: 15em;
  top: -2.3em;
  background: #ffff6b;
  width: 17em;
  border: 1px solid #404040;
  font-size: 0.8em;
  padding: 0.3em;
  cursor: default;
  line-height: 1.4;
}
.list img:hover span{
  visibility: visible;
  
}

.section-title {
  font-family: var(--name-font);
  font-size: var(--section-title-font-size);
  color: var(--section-title-color);
  
}
.nav-link-tab {
  text-decoration: none;
  font-family: var(--font-nav);
  font-weight: 500;
  font-size: var(--nav-font-size);
  color: var(--title-color);
}
.nav-link-tab.active {
  text-decoration: none;
  font-family: var(--font-nav);
  font-weight: 800;
  color: black;
}
.nav-link-tab:hover {
  opacity: 0.85;
  background: rgb(111, 34, 193);
  background: linear-gradient(
    102deg,
    rgba(111, 34, 193, 1) 8%,
    rgba(43, 29, 255, 1) 98%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.bg {
  background-color: rgb(44, 43, 43);
  /* border:1px solid rgba(106, 216, 252, 1); */
  border-radius: 10px;
}

.about-title {
  font-family: var(--name-font);
}
#navBtn {
  overflow: hidden;
}
.content {
  display: none;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.colg-name {
  font-weight: 500;
}
.time {
  font-weight: 900;
  font-size: 1em;
  padding-left: 0.35em;
}
.card-container {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 40vh;
  background-color: #d7e8f3;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px rgba(138, 135, 135, 0.35);
}
/* for the project page */
.content-project{
  scroll-behavior: smooth;
  width: 100%;
  overflow-x:hidden ;
}


.text {
  font-family: var(--bio-family);
  font-size: 1.5em;
  padding-top: 0;
  font-weight: 800;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  scroll-behavior: smooth;
  align-self: center;
  width: 100%;
}
.projects i{
  padding: 0.25em;
  cursor: pointer;
}
.projects a{
  text-decoration: none;
  color: black;
}


.project-child{
  position: relative;
  width: 45%;
  margin: 1em;
}
.project-child img{
  width: 350px; 
  height: 350px;
  border-radius: 15px;
   
}
.left-arrow{
  display: grid;
  place-content: center;
  padding: 1em;
}

.project-content {
  position: absolute;
  visibility: hidden;
  color: white;
  bottom: 0;
  font-size: 0.8em;
}
.btn-project{
  position: absolute;
  left: 50%;
  visibility: hidden;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn-project .lnr{
  padding: 0.5em;
  margin:0.25em;
  color: white;
  font-size: 0.15em;
  border-radius: 50%;
}
.btn-project .lnr:hover{
  opacity: 0.7;
}
.lnr-code{
  background-color: grey;

}
.lnr-rocket{
  background-color: rgb(106, 177, 218);
}

.project-title {
  font-family: var(--font-name);
  font-weight: 800;
}
.project-img {
  -webkit-filter: brightness(100%);
  width: 100%;
  height: auto;
}
.project-child:hover .project-img {
  -webkit-filter: brightness(40%);
  -webkit-filter:blur(10%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.project-child:hover .project-content {
  visibility: visible;
  transition: ease-in 1s;
}
.project-child:hover .btn-project{
  visibility: visible;
  transition: ease-in 1s;
}
/* .project-img:hover {
  transform: scale(1.5);
} */
.btn-project {
  font-family: var(--font-name);
  font-size: 10em;
}
#project button{
  position: relative;
  font-family: var(--splash-family);
  top: 30%;
  left: 50%;
  transform: translate(-50%,-30%);
  border: none;
  width: 20%;
  padding: 0.5em;
}
#project button:hover{
  background-color:rgba(134, 109, 209, 0.609) ;
  transition: ease-in 0.8s;
}
@media only screen and (max-width:450px){
  #project button{
    width: 50%;
    font-size: 0.85em;
  }
}
#projects a{
  font-size: em;
}


/* animation part */

.hidden{
  opacity: 0;
  transition: all 1s;
  
}

.show{
  opacity: 1;
}

.child{
  opacity: 0;
  transition: ease-out 1s;
  right: 10%;
}
.child:nth-child(1){
  transition-delay: 200ms;
}
.child:nth-child(2){
  transition-delay: 400ms;
}
.child:nth-child(3){
  transition-delay: 600ms;
}
.child:nth-child(4){
  transition-delay: 800ms;
}
.child:nth-child(5){
  transition-delay: 1s;
}
.child:nth-child(6){
  transition-delay: 1.2s;
}
.showChild{
  opacity: 1;
  position: relative;
  right: 0%;
}
/* service part */
.text-title {
  font-size: 1.8em;
  font-family: var(--family-font);
  text-align: center;
  font-weight: 900;
}
.service-content:hover {
  opacity: 0.85;
  background: rgb(111, 34, 193);
  background: linear-gradient(
    102deg,
    rgba(111, 34, 193, 1) 8%,
    rgba(43, 29, 255, 1) 98%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.service-para {
  font-weight: 400;
  color: grey;
}
.service-image {
  width: 100%;
  height: auto;
}
.lnr {
  font-size: 3em;
}
/* for the blogs  */
#blogs{
  display: flex;
  width: 60%;
  padding: 0;
  margin: 0;
  height: fit-content;
  box-shadow: 10px 10px 15px rgba(234, 229, 229, 0.674);
}

#blog-list {
  margin-top: 10em;
  padding-bottom: 10em;
}
.blog-content{
  display: flex;
  width: 100%;
  justify-content: center;
}
.blog-list {
  margin-top: 5em;
}
.blog-image {
  width: 300px;
  height: 250px;
}
.blog-card-content{
  margin: 0;
  width: auto;
}
.blog-detail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
#blogs:hover {
  cursor: pointer;
}
.author {
  font-size: 1em;
  font-weight: 500;
  font-family: var(--font-nav);
}
.blog-detail{
  padding: 0.25em;
}

/* contact */

.contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  width: 100%;
  background-color: #a4b0b98b;
  padding-bottom: 5em;
}
form{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
label{
  width: 100%;
  font-size: 1.25em;
  font-family: var(--family-font);
  margin-top: 1em;
  font-weight: 700;
  padding-bottom: 0.25em;

}
input, textarea{
  width: 100%;
  border: 0.25px solid rgb(183, 178, 178);
  border-radius: 10px;
  padding: 0.65em;
}
input[type="submit"]{
  margin-top: 1em;
  width: 50%;
  border: none;
  background-color: rgb(78, 202, 78);
  color: black;
  font-size: 1em;
  font-weight: 700;
}
input[type="submit"]:hover{
  background-color: rgba(78, 202, 78, 0.688);
}
/* footer  */
.footer-title {
  font-family: var(--family-font);
  font-size: clamp(0.5em, 2vh, 2em);
  background: rgb(111, 34, 193);
  font-weight: 900;
  background: linear-gradient(
    102deg,
    rgba(111, 34, 193, 1) 30%,
    rgba(29, 243, 255, 1) 73%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.page-footer {
  margin-top: 0em;
}

@media only screen and (max-width: 450px) {
  .intro-page {
    padding: 0;
    padding-top: 5em;
    width: 100%;
    height: 60vh;
    justify-content: space-around;
    /* border: 1px solid black; */

    
  }
  .left-side{
    width: 100%;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .title{
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .front-img{
    width: 80%;
  }
  .bio-content{
    text-align: center;
  }

  /* about */
  .about-page{
    margin-top: 10em;
  }
  .about{
    margin: 0;
  }
  .about .bio{
    width: 100%;
    padding: 1em;
  }
  .list img{
    width: 15%;
  }
  /* projects */
  .content-project {
    width:90%;
    padding: 0.5em;
  }

  .project-child{
    width: 100%;
    margin: 0.5em;
  }
  
  .projects i{
    font-size: 1.5em;
  }
  .project-child img{
    width: 300px;
    height: 250px;
  }

  /* services */
  .service-content span{
    font-size: 2em;
  }
  .text-title{
    font-size: 1em;
  }
  .service-para{
    font-size: 0.75em;
  }
  /* blogs */
  #blogs{
    width: 100%;
  }
  .blog-list {
    padding: 0.5em;
  }
  .blog-image{
    width: 100%;
  }
  .blog-card-content .text{
    font-size: 1em;
  }
  .blogs {
    display: flex;
    flex-direction: column;
  }
  #blog-list {
    margin: 0;
  }
  #project {
    margin: 0;
  }
  #blogs {
    padding-bottom: 2em;
  }
  /* contact */
  form{
    font-size: 0.8em;
    width: 90%;
  }
  
}
